!!! 5
html
	head
		link(rel="stylesheet", type="text/css", href="/public/docs/assets/css/bootstrap.css")
		style
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
			.hidden{
				display: none;
			}
		link(rel="stylesheet", type="text/css", href="/public/docs/assets/css/bootstrap-responsive.css")