meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width")
link(rel="stylesheet", type="text/css", href="/docs/assets/css/bootstrap.css")
style
	body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	.hidden{
		display: none;
	}
	.login-button {
		margin-bottom: 9px;
	}
link(rel="stylesheet", type="text/css", href="/docs/assets/css/bootstrap-responsive.css")
link(rel="stylesheet", type="text/css", href="/rsdns.css")
