include includes/doctype
html(class="no-js", lang="en")
	// <![endif]
	head
		title Rackspace DNS
		include includes/head
	body
		include includes/nav-bar
		div.container
			div.row-fluid
				div.span4
					&nbsp;
				div.span4
					form(id='dig-form').well
						legend Dig
						div.control-group
							input(type='text', id='host', name='host', placeholder="Host or IP")
							div.controls
								select(id="type", name='type')
									option(selected) A
									option AAAA
									option CNAME
									option MX
									option NS
									option TXT
									option SVR
							button(type="submit", id='submit').btn.btn-primary.login-button Submit
							br
							div.progress.progress-info.progress-striped.hidden
								div(style='width: 50%;').bar
				div.span4
					&nbsp;
		div(id="result").container.result.hidden
			div.row-fluid
				div.span2
					&nbsp;
				div.span8
					pre.results
				div.span2
					&nbsp;
				
		script(src="/public/js/jquery.js")
		script(src="/public/js/dns/submit_form.js")
		script(type='text/javascript')
			submit_form('dig');
		include includes/footer