					<table id="record-table" class="table">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Type</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
								<input type="checkbox">
								</td>
								<td>
								<div class="control-group">
									<input type="text" class="input-large" id="record-val" value="theorywednesday.com.">
								</div></td>
								<td>
								<div class="control-group">
									<div class="controls">
										<select id="record-type">
											<option selected>A</option>
											<option>AAAA</option>
											<option>CNAME</option>
											<option>MX</option>
											<option>NS</option>
											<option>TXT</option>
											<option>SVR</option>
										</select>
									</div>
								</div></td>
								<td>
								<div class="control-group">
									<input type="text" class="input-large" id="record-val" value="209.114.50.170">
								</div></td>
							</tr>
							<tr>
								<td>
								<input type="checkbox">
								</td>
								<td>
								<div class="control-group">
									<input type="text" class="input-large" id="record-val" value="theorywednesday.com.">
								</div></td>
								<td>
								<div class="control-group">
									<div class="controls">
										<select id="record-type">
											<option>A</option>
											<option selected>AAAA</option>
											<option>CNAME</option>
											<option>MX</option>
											<option>NS</option>
											<option>TXT</option>
											<option>SVR</option>
										</select>
									</div>
								</div></td>
								<td>
								<div class="control-group">
									<input type="text" class="input-large" id="record-val" value="2001:4800:7901:0000:d62a:c39b:0000:0001">
								</div></td>
							</tr>
							<tr>
								<td>
								<input type="checkbox" name="3">
								</td>
								<td>
								<div class="control-group">
									<input type="text" class="input-large" id="record-val" value="cdn.theorywednesday.com.">
								</div></td>
								<td>
								<div class="control-group">
									<div class="controls">
										<select id="record-type">
											<option>A</option>
											<option>AAAA</option>
											<option selected>CNAME</option>
											<option>MX</option>
											<option>NS</option>
											<option>TXT</option>
											<option>SVR</option>
										</select>
									</div>
								</div></td>
								<td>
								<div class="control-group">
									<input type="text" class="input-large" id="record-val" value="c0384172.cdn.cloudfiles.rackspacecloud.com">
								</div></td>
							</tr>
						</tbody>
					</table>