include includes/head
include includes/login-nav-bar
div.container
	div.row-fluid
		div.span4
			&nbsp;
		div.span4
			form(id='signin-form', method="post", action="/domains").well
				legend Sign in
				div.control-group
					input(type='text', id='username', name='username', placeholder="Username")
					input(type='password', id='password', name='password', placeholder="Password")
					br
					button(type="submit", id='submit').btn.btn-primary.login-button Submit
					br
					span
						a(data-toggle="modal", href="#forgot_modal").btn forgot password?
		div.span4
			&nbsp;
	div.row-fluid
		div.span4
			&nbsp;
		div.span4
			form(id='signup-form', method="post", action="/signup").well
				legend Sign up
				div.control-group
					input(type='text', id='username', name='username', placeholder="Username")
					input(type='text', id='email', name='email', placeholder="Email")
					input(type='password', id='password', name='password', placeholder="Password")
					input(type='text', id='r_username', name='r_username', placeholder="Rackspace Username")
					input(type='text', id='r_api_key', name='r_api_key', placeholder="Rackspace API Key")
					br
					button(type="submit", id='submit').btn.btn-primary.login-button Submit
		div.span4
			&nbsp;	
					
div(id="forgot_modal").modal.fade
	div.modal-header
		a(data-dismiss="modal").close x
		h3 
			Modal header
	div.modal-body
		form(id='signup-form')
			div.control-group
				input(type='text', id='email', name='email', placeholder="Email")
	div.modal-footer
		a(href="#", id="reset_submit").btn.btn-primary Submit
		a(href="#", id="close").btn Close

script(src="/public/js/jquery.js")
script(src="/public/js/bootstrap-alert.js")
script(src="/public/js/bootstrap-modal.js")
script(src="/public/js/bootstrap-transition.js")
script
	$('#forgot_modal').modal({
		keyboard: true,
		show: false
	});
	$('#forgot_modal').modal('hide');
	$('#close').on('click', function(){
		$('#forgot_modal').modal('hide');
	});
	$('#reset_submit').on('click', function(e){
		$.post('/passwd_reset', $('#signup-form').serialize(), function(data) {
			if(data == true){
				$('#forgot_modal').modal('hide');
			}
			else{
				$('#forgot_modal #email').after("<span class='help-inline'>Processing error.</span>");
				$('#forgot_modal .control-group').addClass('error');
			}
			
		}).error(function() { 
			$('#forgot_modal #email').after("<span class='help-inline'>Processing error.</span>");
			$('#forgot_modal .control-group').addClass('error');
		});
	});
	

include includes/footer