<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/docs/assets/css/bootstrap.css">
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
			.hidden {
				/* display: none; */
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../public/docs/assets/css/bootstrap-responsive.css">
	</head>
</html>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a href="#" class="brand">Rackspace DNS</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active">
							<a href="#">New Domain</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				<form method="post" id="dig-form" class="well form-inline">
					<input type="text" id="host" name="host" placeholder="Host" class="input-small span3">
					<input type="text" name="type" placeholder="Type" class="input-small span1">
					<button type="submit" id="submit" class="btn">
						Submit
					</button>
					<br>
					<div class="progress progress-danger progress-striped active">
						<div class="bar"></div>
					</div>
					<div class="progress progress-danger progress-striped active">
  <div class="bar"
       style="width: 40%;"></div>
</div>
				</form>
			</div><div class="span2"></div>
		</div>
	</div>
	<div class="container result">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				<pre class="results"></pre>
</div>			<div class="span2"></div>
		</div>
	</div><script src="../public/docs/assets/js/jquery.js"></script>
	<script>
		$('#submit').on('click', function(e) {
			$('.progress').removeClass('hidden').addClass('active');
			e.preventDefault();
			$.post('/dig', $('#dig-form').serialize(), function(data) {
				$('pre.results').html(data);
				$('.progress').removeClass('active').addClass('hidden');
			});
		});
		$('#dig-form').submit(function() {
			$('#submit').click();
			return false;
		});

	</script>
</body>